body {
  margin: 3rem 13rem;
  background-color: dodgerblue;
}

.navBar {
  position: relative;
  margin-bottom: 4em;
  width: auto;
  height: 50px;
  background-size: cover;
  overflow: hidden;
  background-position: center center;

  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.4);
  background-color: white;
}

.box {
  box-shadow: 1rem 1rem 1rem 0px #165a9f;
  border-radius: 5px;
  width: 60%;
  height: 20rem;
  margin: auto;
  padding: 2rem;
  position: relative;
  background-color: white;
  text-align: center;
}
