.App {
  text-align: center;
}

.box {
  text-align: center;
  border: 1px black solid;
  box-shadow: 1rem 1rem 1rem grey;
  border-radius: 5px 5px;
  max-width: 50%;
  margin: 50px auto auto auto;
  padding: 2rem;
  position: relative;
  line-height: 1rem;
}
